.text-field {
  border-radius: 10px;
  border: 1px solid #e6e7eb;
  background: #fff;
  padding: 11px 14px;
  color: rgb(75, 71, 71);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
